

.0050ef
{
    background-color : #0050ef;
}

.6a00ff
{
    background-color:#6a00ff;
}

.d80073
{
    background-color:#d80073;
}

.a0522d
{
    background-color:#a0522d;
}

.f44336
{
    background-color:#f44336;
}

.fa6800
{
    background-color:#fa6800;
}

.088a00
{
    background-color:#088a00;
}

.00bcd4
{
    background-color:#00bcd4;
}

.009688
{
    background-color:#009688;
}

.eb6361
{
    background-color:#eb6361;
}

.e3000e
{
    background-color:#e3000e;
}

.8870ff
{
    background-color:#8870ff;
}

.23b684
{
    background-color:#23b684;
}


