

.c0050ef
{
    background-color : #0050ef;
}

.c6a00ff
{
    background-color:#6a00ff;
}

.cd80073
{
    background-color:#d80073;
}

.ca0522d
{
    background-color:#a0522d;
}

.cf44336
{
    background-color:#f44336;
}

.cfa6800
{
    background-color:#fa6800;
}

.c088a00
{
    background-color:#088a00;
}

.c00bcd4
{
    background-color:#00bcd4;
}

.c009688
{
    background-color:#009688;
}

.ceb6361
{
    background-color:#eb6361;
}

.ce3000e
{
    background-color:#e3000e;
}

.c8870ff
{
    background-color:#8870ff;
}

.c23b684
{
    background-color:#23b684;
}


