body
{
}

header
{ 

    //background-color : #0050ef;
    margin-top:0px;
    width:100%;
 height:60px;
 position:fixed;
 top:0px;
// border-bottom:5px solid #1ba1e2;
}

header h3
{
    color:#f5f5f5;
    font-family:GothamLight;
    margin-left:5%;
    display: inline;

}

header i
{
    display:inline;
    font-size:60px;
    color:#f5f5f5;
    margin-left : 20px;

}

#comments_icon, #pictures_icon, #user_icon
{
        font-size:40px;
        margin-top:20px;

}

#logp
{
    display:inline;
    font-family:GothamLight;
    color:#f5f5f5;
    margin-left:3px;
}

#container
{
    //margin-top:50px;
    padding-top:40px;
   //   overflow: scroll;
       overflow-x:hidden;

       min-width:80%;

}


#pics_box
{
    position:fixed;
    //padding-right: 50px;
    //left:100%;
    //top: 1px;
    overflow-y:auto;
    padding-left:10px;
    background-color:#f5f5f5;
    //color:#0050ef;
    font-family:GothamLight;

}

#pics_box  h5
{
    //color : #0050ef;
        font-family:GothamLight;

}

#pics_box_title
{

}


.message_box
{
    //position:relative;
    font-family:'Segoe UI';
    //background-color:#0050ef;
    color:#f5f5f5;
    font-family:GothamLight;
    font-size:1.1rem;
    min-width: 10%;
    //width:40%;
    max-width:1000px;
    min-height: 70px;
    margin-left: 15%;
    margin-bottom:10px;
    padding-left:20px;
    padding-top:5px;
    padding-bottom:10px;
    padding-right:25px;
    display:inline-block;
    word-wrap: break-word;

}

.new_message_box
{
    margin-left:20%;
}

.message_pic
{
    width:150px;
}

#popup
{
    font-family:GothamLight;
}

#popup button
{
    font-family:GothamLight;
    //background-color:#0050ef;
}

button
{
    font-family:GothamLight;
}


#talk_popup button
{   
   width:55%;
}

.author
{
    font-family:GothamXLight;
    border-bottom: 1px solid white;
    margin-bottom:3px;
}


#message_input
{
    position:fixed;
    height:50px;
    background-color:#bdbdbd;
    bottom:0px;
    left:0px;
    right:0px;
    margin-bottom:0px;
    font-family: GothamLight;
    font-size:1.2rem;
}

.last_message
{
    margin-bottom:10%;
}